<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Recipe Card Box</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/hosted/img/spork-logo.png"/>
  <link rel="stylesheet" type="text/css" href="/hosted/style.css"/>
</head>
<body>  
  {{{body}}}
</body>
</html>